<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/styles/content.css" >
    <title>Movie Web App - Content</title>
</head>
<body>
<h1>DB Movie Content</h1>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Overview</th>
        <th>Popularity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.overview}"></td>
        <td th:text="${movie.popularity}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out"/>
</form>


<!--
insert in loop and correct syntax
<form th:action="@{/user/savePreference}" method="post">
    <input type="submit" value="Save in favourites"/>
</form>
<form th:action="@{/user/{id}/savePreference(id=${movie.getId()})}">
                <button type="submit">Save in favourites</button>
            </form>
-->
</body>
</html>