<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static.style/index.css"/>
    <title>Movie Web App</title>
    <script>
        // Function to hide the logout message after 5 seconds
        setTimeout(function() {
            var logoutMessage = document.getElementById('logoutMessage');
            if (logoutMessage) {
                logoutMessage.style.display = 'none';
            }
        }, 5000); // 5 seconds
    </script>
</head>
<body>
    <div class="logging" th:if="${param.logout}" id="logoutMessage">
    <h3>You have been logged out.</h3>
    </div>
    <div class="header">
        <h1>Welcome to DB Movies</h1>
    </div>
    <div class="link">
        <a th:href="@{/content}"><h2>Go to content</h2></a>
    </div>
    <div>
        <img class="image" src="/static.style/movies.png" alt="Background-Image">
    </div>

/body>
</html>

