<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <title>Movie Web App - Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form action="/perform_login" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<p>Are you new?</p>
<a class="btn" href="/signup">
    Sign Up
</a>
</body>
</html>